body {
	color:DarkGreen;
	padding:0px;
	margin:0px;
	background-Color:MintCream;
	font-family:arial;
	font-size:12px;
}

#main{
	padding:10px;
}

b {
	color:SeaGreen;
}

.pre {
	width:700px;
}

#logo{
	width:62%;
	margin-left:350px;
	margin-bottom:30px;
	float:left;
}

#container{
	width:62%;
	margin-left:360px;
	float:left;
}

h1 {
	font-size:35px;
}

h3 {
	color:SeaGreen;
}

#menu {
	position:fixed;
	float:left;
	clear:left;
	width:280px;
	margin-top:200px;
	background-color:Lavender;
	border:1px solid Silver;
}

#menu ul {
	padding:8px;
	font-family:monospace;
	list-style-type:none;
	font-size:14px;
}

#menu ul li a{
	color:darkSlateGray;
	font-weight:bolder;
	cursor:pointer;
	text-decoration:none;

}

#menu ul li a:hover{
	color:DarkRed;
}

#menu ul li li a{
	font-size:11px;
	color:green;
	cursor:pointer;
	text-decoration:none;
}

#menu ul li li a:hover{
	color:FireBrick;
	font-weight:bolder;
} 

a {
	text-decoration:none;
}